#maplist {
    margin-top: 50px;
    text-align: center;
}

#maplist > ul {
    width: 600px;
    display: inline-block;
    text-align: left;
}

.mapentry {
    position: relative;
    width: 600px;
    height: 120px;
    margin-top: 20px;
    display: inline-block;
}

.mapentry > div:not(.thumb) {
    position: absolute;
    height: 40px;
}

.mapentry > div > span:first-child {
    font-family: 'Special Elite', cursive;
    font-size: 14px;
    margin-left: 4px;
    margin-top: 10px;
}

.mapentry > div > p {
    font-family: 'Macondo Swash Caps', cursive;
    font-size: 18px;
    margin-left: 5px;
}

.entrytitle {
    left: 0px;
    width: 450px;
    background-color: #500000;
}

.mapyear {
    right: 0px;
    width: 150px;
    background-color: #440000;
}

.thumb {
    position: absolute;
    top: 40px;
    width: 100px;
    height: 80px;
}

.credit {
    top: 40px;
    left: 100px;
    width: 350px;
    background-color: #380000;
}

.gcp {
    top: 40px;
    right: 0px;
    width: 150px;
    margin-top: 5px;
    background-color: #330000;
}

.gcp > p > a {
    font-size: 25px;
}

.uploaded {
    bottom: 0px;
    left: 100px;
    width: 150px;
    background-color: #500000;
}

.source {
    bottom: 0px;
    right: 0px;
    width: 350px;
    background-color: #440000;
}
