#maplist {
    margin-top: 50px;
    text-align: center;
}

#maplist > ul {
    width: 80%;
    display: inline-block;
    text-align: left;
}

.mapentry {
    width: 100%;
    font-size: 2.5vw;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
}

.mapentry > div > span:first-child {
    display: inline-block;
    font-family: 'Special Elite', cursive;
    font-size: 1.7vw;
    margin-left: 0.2em;
    margin-top: 0.2em;
}

.mapentry > div > p {
    font-family: 'Macondo Swash Caps', cursive;
    margin-left: 0.2em;
    margin-bottom: 0.2em;
}

.entrytitle {
    width: 85%;
    background-color: #500000;
}

.mapyear {
    width: 10%;
    background-color: #400000;
}

.thumb {
    width: 15%;
}

.thumb > a > img {
    width: 100%;
}

.credit {
    width: 30%;
    background-color: #500000;
}

.gcp {
    width: 10%;
    background-color: #330000;
}

.gcp > p {
    font-size: 1.2em;
    margin-top: 0.3em;
}

.uploaded {
    width: 20%;
    background-color: #400000;
}

.source {
    width: 30%;
    background-color: #330000;
}
