body {
    background-color: #2d0000;
    color: #ffaf2e;
    padding-bottom: 50px;
}

#heading {
    padding: 0px 0px 0px 15px;
    background-color: #fff4b0;
    color: #fff4b0;
    box-shadow: 0px 10px 8px 10px;
}

#heading > nav {
    display: inline-block;
    font-family: 'Grenze Gotisch', cursive;
    font-size: 5vw;
    width: 65%;
    background-color: #b8760b;
    padding: 1% 2% 1% 1%;
    color: #ffe648;
}

#heading > nav > ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.menuitem {
    display: inline-block;
    margin-left: 2%;
    white-space: nowrap;
}

.menuitem > a {
    text-decoration: none;
    color: #fff4b0;
}

.menuitem > a:visited {
    text-decoration: none;
    color: #fff4b0;
}

.menuitem > a:hover {
    text-decoration: none;
    color: #c6ac05;
}

.menuitem > a:active {
    text-decoration: none;
    color: #fff4b0;
}

h1 {
    font-family: 'Grenze Gotisch', cursive;
    font-size: 9vw;
    color: #b8760b;
}

p > a {
    text-decoration: none;
    color: #b8760b;
}

p > a:visited {
    text-decoration: none;
    color: #b8760b;
}

p > a:hover {
    text-decoration: none;
    color: #c6ac05;
}

p > a:active {
    text-decoration: none;
    color: #b8760b;
}

#heading {
    text-align: center;
}

#content {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-family: 'Macondo Swash Caps', cursive;
    font-size: 3vw;
    text-align: center;
}

#content > div {
    display: inline-block;
    text-align: left;
    text-indent: 1em;
    line-height: 1.4;
}

#frontimage {
    margin-top: 40px;
    max-width: 100%;
    height: auto;
    text-align: center;
}
